<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <!-- 
 single html processed by https://github.com/zTrix/webpage2html
 title: 
   Web Viewer Desktop
  
 url: /home/jenkins-sa/jenkins/workspace/communicator/build/linux64/applications/client/ui/hoops_web_viewer_standalone_template.html
 date: Fri May 16 03:24:45 2025
-->
 <head>
  <meta charset="utf-8"/>
  <meta content="chrome=1;IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="user-scalable=no" name="viewport"/>
  <link data-href="./hcfavicon.svg" href="/home/jenkins-sa/jenkins/workspace/communicator/build/linux64/applications/client/ui/./hcfavicon.svg" rel="icon" type="image/svg"/>
  <title>
   Web Viewer Desktop
  </title>