  <script id="viewerStartup">
   function _base64ToUint8Array(base64) {
    var binary_string = window.atob(base64);
    var len = binary_string.length;
    var bytes = new Uint8Array(len);
    for (var i = 0; i < len; i++) {
        bytes[i] = binary_string.charCodeAt(i);
    }
    return bytes;
}

var SC_MODEL_DATA = "<!-- SC_MODEL_DATA -->";

var hwv = null;
var ui = null;

window.onload = function () {
    hwv = new Communicator.WebViewer({
        containerId: "viewerContainer",
        buffer: _base64ToUint8Array(SC_MODEL_DATA),
    });

    window.onresize = function (event) {
        if (typeof event.target.getAttribute === "function") {
            // jQuery resizable will trigger window.onresize
            // we check for the getAttribute method to make sure
            // the call is not coming from a DOM element object
            return;
        } else {
            hwv.resizeCanvas();
        }
    };

    hwv.setCallbacks({
        sceneReady: () => {
            hwv.getView().setBackfacesVisible(true);
        },
        modelStructureReady: () => {
            hwv.getModel().setPMIColorOverride(false);
        },
    });

//BEFORE_START_VIEWER

    hwv.start();
};
  </script>
 </head>
 <body>
  <div id="content">
   <div id="viewerContainer" tabindex="0">
   </div>