    <!-- Viewer Settings Window -->
    <div class="hoops-ui-window" id="viewer-settings-dialog">
     <!-- Header -->
     <div class="hoops-ui-window-header">
      <span class="tab selected" id="settings-tab-label-general">
       General
      </span>
      <span class="tab" id="settings-tab-label-walk">
       Walk
      </span>
      <span class="tab" id="settings-tab-label-drawing">
       Drawing
      </span>
      <span class="tab" id="settings-tab-label-floorplan">
       Floorplan
      </span>
     </div>
     <!-- Floorplan tab-->
     <div class="hoops-ui-window-body" id="settings-tab-floorplan">
      <div class="settings-group-header">
       Floorplan
      </div>
      <div class="settings-group settings-group-general">
       <div class="settings-block">
        <span id="settings-floorplan-active-text">
         Active:
        </span>
        <input class="right-align" id="settings-floorplan-active" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="settings-floorplan-track-camera-text">
         Track Camera:
        </span>
        <input class="right-align" id="settings-floorplan-track-camera" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="settings-floorplan-orientation-text">
         Orientation:
        </span>
        <select class="right-align" id="settings-floorplan-orientation">
         <option value="0">
          North Up
         </option>
         <option value="1">
          Avatar Up
         </option>
        </select>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="settings-floorplan-auto-activate-text">
         Auto Activation:
        </span>
        <select class="right-align" id="settings-floorplan-auto-activate">
         <option value="0">
          Bim
         </option>
         <option value="1">
          Bim + Walk
         </option>
         <option value="2">
          Never
         </option>
        </select>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="settings-floorplan-feet-per-pixel-style">
         <span id="settings-floorplan-feet-per-pixel-text">
          Overlay Feet per Pixel:
         </span>
         <input class="right-align" id="settings-floorplan-feet-per-pixel" min="0" step=".1" type="number"/>
        </span>
       </div>
       <div class="settings-block">
        <span id="settings-floorplan-zoom-style">
         <span id="settings-floorplan-zoom-text">
          Overlay Zoom Level:
         </span>
         <input class="right-align" id="settings-floorplan-zoom" max="10" min="0" step=".1" type="number"/>
        </span>
       </div>
       <div class="settings-block">
        <span id="settings-floorplan-background-opacity-text">
         Overlay Background Opacity:
        </span>
        <input class="right-align" id="settings-floorplan-background-opacity" max="1" min="0" step=".01" type="number"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="settings-floorplan-border-opacity-text">
         Overlay Border Opacity:
        </span>
        <input class="right-align" id="settings-floorplan-border-opacity" max="1" min="0" step=".01" type="number"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="settings-floorplan-avatar-opacity-text">
         Avatar Opacity:
        </span>
        <input class="right-align" id="settings-floorplan-avatar-opacity" max="1" min="0" step=".01" type="number"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <div>
         Floorplan Colors:
        </div>
        <div>
         <input class="color-picker" data-position="bottom left" id="settings-floorplan-background-color" type="text"/>
         <label>
          Background
         </label>
        </div>
        <div>
         <input class="color-picker" data-position="bottom left" id="settings-floorplan-border-color" type="text"/>
         <label>
          Border
         </label>
        </div>
        <div>
         <input class="color-picker" data-position="bottom left" id="settings-floorplan-avatar-color" type="text"/>
         <label>
          Avatar
         </label>
        </div>
        <div>
         <input class="color-picker" data-position="bottom left" id="settings-floorplan-avatar-outline-color" type="text"/>
         <label>
          Avatar Outline
         </label>
        </div>
       </div>
      </div>
     </div>
     <!-- Drawing tab -->
     <div class="hoops-ui-window-body" id="settings-tab-drawing">
      <div class="settings-group-header">
       Drawing
      </div>
      <div class="settings-group settings-group-general">
       <div class="settings-block">
        <div>
         Drawing Colors:
        </div>
        <div>
         <input class="color-picker" data-position="bottom left" id="settings-drawing-background" type="text"/>
         <label>
          Background
         </label>
        </div>
        <div>
         <input class="color-picker" data-position="bottom left" id="settings-drawing-sheet" type="text"/>
         <label>
          Sheet
         </label>
        </div>
        <div>
         <input class="color-picker" data-position="bottom left" id="settings-drawing-sheet-shadow" type="text"/>
         <label>
          Sheet Shadow
         </label>
        </div>
        <div>
         <input id="settings-drawing-background-enabled" type="checkbox"/>
         <label>
          Show Sheet Background
         </label>
        </div>
       </div>
      </div>
     </div>
     <!-- Walk tab -->
     <div class="hoops-ui-window-body" id="settings-tab-walk">
      <div class="settings-group-header">
       Walk Mode
      </div>
      <div class="settings-group settings-group-general">
       <div class="settings-block">
        <label>
         Walk Mode:
        </label>
        <select class="right-align" id="settings-walk-mode">
         <option value="0">
          Mouse
         </option>
         <option value="1">
          Keyboard
         </option>
        </select>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block" id="walk-navigation-keys">
        <div class="center-align bold" id="walk-navigation-text">
         Navigation Keys
        </div>
        <div>
         <span id="walk-key-forward">
          W
         </span>
         /
         <span id="walk-key-left">
          A
         </span>
         /
         <span id="walk-key-backward">
          S
         </span>
         /
         <span id="walk-key-right">
          D
         </span>
         <span class="right-align">
          Move
         </span>
        </div>
        <div>
         <span id="walk-key-rotate-left">
          Q
         </span>
         /
         <span id="walk-key-rotate-right">
          E
         </span>
         <span class="right-align">
          rotate
         </span>
        </div>
        <div>
         <span id="walk-key-up">
          X
         </span>
         /
         <span id="walk-key-down">
          C
         </span>
         <span class="right-align">
          Up / Down
         </span>
        </div>
        <div>
         <span id="walk-key-tilt-up">
          R
         </span>
         /
         <span id="walk-key-tilt-down">
          F
         </span>
         <span class="right-align" id="move-keys">
          Tilt
         </span>
        </div>
        <div>
         <span id="walk-key-toggle-collision">
          V
         </span>
         <span class="right-align">
          Toggle Collision Detection
         </span>
        </div>
       </div>
       <div class="settings-block">
        <span id="walk-rotation-text">
         Rotation (Deg/s):
        </span>
        <input class="right-align" id="settings-walk-rotation" min="0" type="number"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="walk-speed-text">
         Walk Speed (
         <span id="walk-speed-units">
          m
         </span>
         /s):
        </span>
        <input class="right-align" id="settings-walk-speed" min="0" step=".1" type="number"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="walk-elevation-text">
         Elevation Speed (
         <span id="elevation-speed-units">
          m
         </span>
         /s):
        </span>
        <input class="right-align" id="settings-walk-elevation" min="0" step=".1" type="number"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="walk-view-angle-text">
         Field of View (Deg):
        </span>
        <input class="right-align" id="settings-walk-view-angle" max="150" min="30" type="number"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span id="walk-mouse-look-text">
         Enable Mouse Look:
        </span>
        <input id="settings-mouse-look-enabled" type="checkbox"/>
        <span class="grayed-out right-align" id="settings-mouse-look-style">
         <label>
          Speed:
         </label>
         <input id="settings-mouse-look-speed" type="number"/>
        </span>
       </div>
       <div class="settings-block">
        <span id="walk-bim-mode-text">
         Enable Collision Detection:
        </span>
        <input id="settings-bim-mode-enabled" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
      </div>
     </div>
     <!--General tab-->
     <div class="hoops-ui-window-body selected" id="settings-tab-general">
      <!-- general -->
      <div class="settings-group-header">
       General
      </div>
      <div class="settings-group settings-group-general">
       <div class="settings-block">
        <label>
         Projection Mode:
        </label>
        <select class="right-align" id="settings-projection-mode">
         <option value="0">
          Orthographic
         </option>
         <option value="1">
          Perspective
         </option>
        </select>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <div class="settings-block draw-strategy-setting" id="settings-block-framerate">
         <span class="framerate-text">
          Framerate (fps):
         </span>
         <input class="right-align" id="settings-framerate" min="0" type="number"/>
         <span class="clear-both">
         </span>
        </div>
       </div>
       <div class="settings-block">
        <span>
         Hidden Line Opacity (0-1):
        </span>
        <input class="right-align" id="settings-hidden-line-opacity" max="1" min="0" step=".1" type="number"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <label for="settings-show-backfaces">
         Show Backfaces:
        </label>
        <input class="right-align" id="settings-show-backfaces" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <label for="settings-show-capping-geometry">
         Show Capping Geometry:
        </label>
        <input class="right-align" id="settings-show-capping-geometry" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span>
         Enable Face / Line Selection:
        </span>
        <input class="right-align" id="settings-enable-face-line-selection" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span>
         Selection Honors Scene Visibility:
        </span>
        <input class="right-align" id="settings-select-scene-invisible" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span>
         Rotate Around Camera Center:
        </span>
        <input class="right-align" id="settings-orbit-mode" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
      </div>
      <!-- effects -->
      <div class="settings-group-header">
       Effects
      </div>
      <div class="settings-group settings-group-general">
       <div class="settings-block">
        <span>
         Enable Ambient Occlusion:
        </span>
        <input id="settings-ambient-occlusion" type="checkbox"/>
        <input class="right-align" id="settings-ambient-occlusion-radius" max="10" min="0" step=".01" type="number"/>
        <div class="right-align">
         Radius:
        </div>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span>
         Enable Anti-Aliasing:
        </span>
        <input class="right-align" id="settings-anti-aliasing" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <div>
         <span>
          Enable Bloom:
         </span>
         <input class="right-align" id="settings-bloom-enabled" type="checkbox"/>
        </div>
        <span class="grayed-out" id="settings-bloom-style">
         <label>
          Intensity Scale:
         </label>
         <input class="right-align" disabled="" id="settings-bloom-intensity" min="0" step=".1" type="number"/>
         <span class="clear-both">
         </span>
         <label>
          Threshold:
         </label>
         <input class="right-align" disabled="" id="settings-bloom-threshold" max="1" min="0" step="0.1" type="range"/>
        </span>
       </div>
       <div class="settings-block">
        <div>
         <span>
          Silhouette Edges:
         </span>
         <input class="right-align" id="settings-silhouette-enabled" type="checkbox"/>
        </div>
       </div>
       <div class="settings-block">
        <div>
         <span>
          Reflection Planes:
         </span>
         <input class="right-align" id="settings-reflection-enabled" type="checkbox"/>
        </div>
       </div>
       <div class="settings-block">
        <div>
         <span>
          Enable Shadows:
         </span>
         <input class="right-align" id="settings-shadow-enabled" type="checkbox"/>
        </div>
        <span class="grayed-out" id="settings-shadow-style">
         <span>
          Interactive:
         </span>
         <input class="right-align" disabled="" id="settings-shadow-interactive" type="checkbox"/>
         <span class="clear-both">
         </span>
         <label>
          Blur Samples:
         </label>
         <input class="right-align" disabled="" id="settings-shadow-blur-samples" max="20" min="0" step="1" type="range"/>
        </span>
       </div>
      </div>
      <!-- axis -->
      <div class="settings-group-header">
       Axis
      </div>
      <div class="settings-group settings-group-general">
       <div class="settings-block">
        <span>
         Show Axis Triad:
        </span>
        <input class="right-align" id="settings-axis-triad" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
       <div class="settings-block">
        <span>
         Show Nav Cube:
        </span>
        <input class="right-align" id="settings-nav-cube" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
      </div>
      <!-- point cloud -->
      <div class="settings-group-header">
       Point Cloud
      </div>
      <div class="settings-group settings-group-general">
       <div class="settings-block">
        <span>
         Enable Splats:
        </span>
        <input id="settings-splat-rendering-enabled" type="checkbox"/>
        <span class="grayed-out right-align" id="settings-splat-enabled-style">
         <label>
          Size:
         </label>
         <input id="settings-splat-rendering-size" step=".01" type="number"/>
         <label>
          Mode:
         </label>
         <select id="settings-splat-rendering-point-size-unit">
          <option value="0">
           ScreenPixels
          </option>
          <option value="1">
           CSSPixels
          </option>
          <option value="2">
           World
          </option>
          <option value="3">
           ScreenWidth
          </option>
          <option value="4">
           ScreenHeight
          </option>
          <option value="5">
           BoundingDiagonal
          </option>
         </select>
        </span>
       </div>
       <div class="settings-block">
        <span>
         Enable Eye-Dome Lighting:
        </span>
        <input class="right-align" id="settings-eye-dome-lighting-enabled" type="checkbox"/>
        <span class="clear-both">
        </span>
       </div>
      </div>
      <!--color-->
      <div class="settings-group-header">
       Color
      </div>
      <div class="settings-group settings-group-colors">
       <div class="settings-block">
        <div>
         Background Color:
        </div>
        <div>
         <input class="color-picker" data-position="top left" id="settings-background-top" type="text"/>
         <label>
          Top
         </label>
        </div>
        <div>
         <input class="color-picker" data-position="top left" id="settings-background-bottom" type="text"/>
         <label>
          Bottom
         </label>
        </div>
       </div>
       <div class="settings-block">
        <div>
         Capping Geometry:
        </div>
        <div>
         <input class="color-picker" data-position="top left" id="settings-capping-face-color" type="text"/>
         <label>
          Face
         </label>
        </div>
        <div>
         <input class="color-picker" data-position="top left" id="settings-capping-line-color" type="text"/>
         <label>
          Line
         </label>
        </div>
       </div>
       <div class="settings-block">
        <div>
         Selection Color:
        </div>
        <input class="color-picker" data-position="top left" id="settings-selection-color-body" type="text"/>
        <label>
         Body
        </label>
        <div>
         <span id="settings-selection-color-face-line-style">
          <input class="color-picker" data-position="top left" id="settings-selection-color-face-line" type="text"/>
          <label>
           Faces and Lines
          </label>
         </span>
        </div>
       </div>
       <div class="settings-block">
        <input class="color-picker" data-position="top left" id="settings-measurement-color" type="text"/>
        <label>
         Measurement Color
        </label>
       </div>
       <div class="settings-block">
        <span class="grayed-out" id="settings-pmi-color-style">
         <input class="color-picker" data-position="top left" disabled="" id="settings-pmi-color" type="text"/>
         <label>
          PMI Override Color
         </label>
        </span>
        <input id="settings-pmi-enabled" type="checkbox"/>
        <label>
         Enable
        </label>
       </div>
      </div>
     </div>
     <!-- Footer -->
     <div>
      <div class="hoops-ui-window-footer">
       <div class="version">
        Viewer Version:
        <span id="settings-viewer-version">
        </span>
        , Format Version:
        <span id="settings-format-version">
        </span>
       </div>
       <div class="hoops-ui-footer-buttons">
        <button id="viewer-settings-ok-button">
         Ok
        </button>
        <button id="viewer-settings-cancel-button">
         Cancel
        </button>
        <button id="viewer-settings-apply-button">
         Apply
        </button>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>